footer {
  bottom: 0 !important;
  background: white !important;
  border-top: 1px solid #d8dbe0;
}

// @media all and (max-width: 567px) {
//   footer.position-absolute {
//     position: relative !important;
//   }
// }
