#login-logo-2,
#login-logo-3 {
  max-width: 30px;
  height: 25px;
  position: relative;
  left: -5%;
  top: -3px;
}

#login-logo-3 {
  left: 0;
  margin: auto;
}

#login-logo-1 {
  max-width: 70px;
  position: relative;
  top: -5px;
  left: 20px;
}

.login-card-bottom .card-title {
  margin-bottom: 30px;
}

@media all and (max-width: 991px) {
  /**
    * ADMIN
    */
  // login page
  // card top
  .login {
    &-card-top {
      margin-top: 1.5rem !important;
      & .card-body {
        padding: 10px !important;
      }
      & .card-title.font-23 {
        font-size: 18px !important;
      }
      & .card-title.font-25 {
        margin-bottom: 20px;
      }
      & .card-text {
        font-size: 14px !important;
      }
    }
  }
  // card bottom
  #login-logo {
    &-1 {
      left: 0px !important;
      display: block !important;
      margin: auto !important;
      padding: 0px !important;
    }
    &-2 {
      display: none !important;
    }
    &-p-3 {
      display: block !important;
    }
  }
  // form
  .col-form-label,
  .form-group .col-sm-9,
  .form-group .col-lg-9,
  .form-check {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .col-form-label.text-right {
    text-align: left !important;
  }

  form .row {
    flex-direction: column !important;
    & .form-group {
      padding-left: 0px !important;
      padding-right: 0px !important;
      input {
        margin-bottom: 30px;
      }
    }
  }
}
