.navbar-admin,
.breadcrumb {
  background: white !important;
  border-bottom: 1px solid #d8dbe0 !important;
  padding: 0.5rem 1rem !important;
}

#hamburger-buttons-admin {
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  & .nav-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.image.image-placeholder {
  height: 40px;
  width: 40px;
}
