.sidebar-left {
  height: 100vh !important;
  min-height: 100vh;
  max-width: 250px !important;
  background: #303c54 !important;
  border-radius: 0px !important;
  & ul li a {
    color: rgba(255, 255, 255, 0.8) !important;
  }
  & ul li:hover {
    background: #3c4b64 !important;
  }
  & ul li a > .fas::before {
    color: rgba(255, 255, 255, 0.8) !important;
  }
  &_nav {
    margin-top: 50px !important;
  }
}

.logo-admin {
  padding: 0.5rem 1rem;
  background: #262f42 !important;
  & img {
    // padding-top: 0.3125rem;
    // padding-bottom: 0.3125rem;
    padding: 0.5rem 1rem;
  }
}

.overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  display: none;
}

@media all and (max-width: 1150px) {
  .sidebar-left {
    position: absolute;
    top: 0;
    z-index: 999999;
    left: 0;
  }
  .main-content {
    width: 100% !important;
    min-width: 100% !important;
  }
  .overlay {
    display: block;
  }
}
