.card-principes {
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  min-height: 470px;
  // max-height: 100%;
  // min-height: 100%;
  // &-prices {
  //   max-height: 400px !important;
  //   min-height: 400px !important;
  // }
  overflow: hidden;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .card-principes,
  .card-principes-prices {
    max-width: 300px;
  }
}

@media all and (min-width: 576px) and (max-width: 768px) {
  .card-principes,
  .card-principes-prices {
    // max-height: 500px !important;
    // min-height: 500px !important;
    max-width: 300px;
    margin: auto !important;
  }
}

@media all and (max-width: 576px) {
  .card-principes,
  .card-principes-prices {
    // max-height: 500px !important;
    // min-height: 500px !important;
    max-width: 300px;
    margin: auto !important;
  }
}
