.card-principes {
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  min-height: 470px;
  overflow: hidden;
}

.logo-tarifs {
  height: 50px;
  width: 50px !important;
  left: 30px;
  top: 20px;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .card-principes,
  .card-principes-prices {
    max-width: 300px;
  }
}

@media all and (min-width: 576px) and (max-width: 768px) {
  .card-principes,
  .card-principes-prices {
    max-width: 300px;
    margin: auto !important;
  }
}

@media all and (max-width: 576px) {
  .card-principes,
  .card-principes-prices {
    max-width: 300px;
    margin: auto !important;
  }
  .logo-tarifs {
    left: 15px;
  }
}
