.card-principes {
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  min-height: 470px;
  overflow: hidden;
}

.logo-tarifs {
  height: 50px;
  width: 50px !important;
  left: 30px;
  top: 20px;
}

.card-principes.principes {
  & img {
    max-width: 150px !important;
  }
}

@media all and (min-width: 1450px) {
  .justify-content-xl-end .col-md-6,
  .justify-content-xl-start .col-md-6 {
    flex: 0 0 41.666667% !important;
    max-width: 41.666667% !important;
  }
}

@media all and (min-width: 1260px) {
  .card-principes.principes {
    max-height: 470px;
    min-height: 470px;
  }
}

@media all and (min-width: 991px) and (max-width: 1200px) {
  .create-message {
    font-size: 15px !important;
  }
  .logo-tarifs {
    display: none !important;
  }
  .card-principes .content {
    font-size: 22px !important;
  }
  .card-principes span.text-danger {
    font-size: 30px !important;
  }
  .card-principes.principes {
    max-height: 520px;
    min-height: 520px;
    & img {
      max-width: 100px !important;
    }
    & .font-25 {
      font-size: 20px !important;
    }
    & .principes.content {
      font-size: 16px !important;
    }
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .card-principes,
  .card-principes-prices {
    max-width: 300px;
  }
  .logo-tarifs {
    display: block !important;
  }
}

@media all and (min-width: 576px) and (max-width: 768px) {
  .card-principes,
  .card-principes-prices {
    max-width: 300px;
    margin: auto !important;
  }
}

@media all and (max-width: 576px) {
  .card-principes,
  .card-principes-prices {
    max-width: 300px;
    margin: auto !important;
  }
  .logo-tarifs {
    left: 15px;
  }
  .card-principes.principes {
    & .principes.content {
      font-size: 22px !important;
    }
  }
}
