.uppercase {
  text-transform: uppercase !important;
}

// .m-bottom {
//   margin-bottom: 70px !important;
// }

@media all and (max-width: 991px) {
  .title {
    font-size: 30px !important;
  }
  .m-bottom {
    margin-bottom: 150px !important;
  }
}

@media all and (max-width: 576px) {
  .title {
    font-size: 25px !important;
  }
}
