footer {
  line-height: 45px;
  background-color: #2d4e9d !important;
  width: 100%;
}

// .footer-absolute {
//   position: absolute;
//   bottom: 0;
// }

// nav mobile
#hamburger {
  display: none !important;
  &-button {
    text-align: center !important;
    font-size: 30px !important;
    & .fas.fa-bars,
    & .fas.fa-times {
      color: white;
    }
  }
}

.footer-nav {
  list-style-type: none !important;
  & li a.active {
    // font-size: 30px;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
  }
  & li a:hover {
    color: white;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
  }
}

// responsive

@media all and (min-width: 576px) {
  .footer-nav {
    font-size: 15px !important;
    & li a.active {
      font-size: 22px;
    }
  }
}

@media all and (min-width: 992px) {
  .footer-nav {
    font-size: 22px !important;
    & li a.active {
      font-size: 30px;
    }
  }
}
