footer {
  // position: absolute;
  line-height: 45px;
  // height: 70px;
  background-color: #2d4e9d !important;
  bottom: 0;
  width: 100%;
  position: absolute;
}

.footer-nav {
  list-style-type: none !important;
  & li a.active {
    font-size: 30px;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
  }
  & li a:hover {
    color: white;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
  }
}
