.png24 {
  width: 80px !important;
  height: 80px;
}

@media all and (max-width: 991px) {
  .btn-right {
    position: relative !important;
    margin-top: 1rem;
  }
}

@media all and (max-width: 576px) {
  .form-check-input {
    margin-left: 0.25rem !important;
  }
}
