/*debug*/
@import "../vars";
@import "../mixins";

/*general*/
body {
  top: 0;
  left: 0;
  background: #f6f6f6 0 0 no-repeat padding-box;
  opacity: 1;
  font-family: Arial, sans-serif;
}

.container-baromaire {
  height: 100vh !important;
  overflow: hidden;
}

a,
a:hover {
  color: $primary;
  text-decoration: none;
  background-color: transparent;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

img {
  width: 100% !important;
}

.row {
  margin: 0px !important;
}

.li-a {
  display: block;
  &.active {
    border-bottom: 0px;
  }
}

@media all and (max-width: 991px) {
  .container-baromaire.container-baromaire-higher {
    height: 100% !important;
    & .col-11.mx-auto {
      margin-bottom: 200px !important;
    }
  }
}

@media all and (max-width: 576px) {
  .container-baromaire.container-baromaire-higher {
    & .col-11.mx-auto {
      margin-bottom: 0px !important;
    }
  }
}

/*home*/
@import "footer";
@import "header";
@import "form";
@import "font";
@import "card";

@import "../baromaire_home/max_width_576";
