/*hearders and footers*/
@media all and (max-width: 576px) {
  body {
    overflow: hidden;
  }

  /**
    * HOME 
    */
  h1.main-title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 0px;
    margin-top: 60px;
  }
  h5.main-subtitle {
    font-size: 14px;
    margin-bottom: 1em !important;
    margin-top: 70px;
  }

  /*header*/
  header.row {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
  .logo {
    &-home {
      min-width: 100% !important;
    }
    &-left {
      display: none;
    }
  }

  // nav mobile
  #hamburger {
    display: block !important;
    &-button {
      width: 50px;
      cursor: pointer;
      & div {
        width: 35px;
        height: 5px;
        background-color: white !important;
        margin: 6px 0;
      }
    }
  }

  /*form*/
  .form {
    &-inline {
      flex-direction: column !important;
    }
    &-group {
      width: 100% !important;
      min-width: 100% !important;
    }
  }
  .submit {
    width: 100%;
    min-width: 100%;
  }

  // footer
  #footer-home {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .footer {
    &-nav {
      display: none !important;
    }
    &-responsive-nav {
      background: #2d4e9d !important;
      list-style-type: none !important;
      position: absolute;
      width: 100%;
      & li {
        margin-bottom: 1rem;
        border-bottom: 1px solid #152448;
        margin-bottom: 0px !important;
        font-size: 20px;
        & a.active {
          font-size: 25px;
          padding-bottom: 3px;
          border-bottom: 1px solid white;
        }
      }
      & span {
        display: none !important;
      }
    }
  }
}
