/*hearders and footers*/
@media all and (max-width: 576px) {
  body {
    height: 100% !important;
    min-height: 100% !important;
  }
  /**
    * HOME 
    */
  h1 {
    font-size: 25px;
    font-weight: bold;
  }
  h5 {
    font-size: 14px;
    margin-bottom: 1em !important;
  }
  /*header*/
  header.row {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
  .logo {
    &-home {
      min-width: 100% !important;
    }
    &-left {
      display: none;
    }
  }
  /*form*/
  .form {
    &-inline {
      flex-direction: column !important;
    }
    &-group {
      width: 100% !important;
      min-width: 100% !important;
    }
  }
  .submit {
    width: 100%;
    min-width: 100%;
  }
  /*footer*/
  footer {
    position: relative !important;
  }
  .footer-nav {
    flex-direction: column !important;
    & li {
      margin-bottom: 1rem;
    }
    & span {
      display: none;
    }
  }
}
