.popover .popover-body {
  padding: 0.5rem 0.75rem !important;
  color: #212529 !important;
}

.arrow::before,
.arrow::after {
  border-bottom-color: $secondary !important;
}

.popover {
  box-shadow: 0 3px 6px 0px rgb(0 0 0 / 30%);
  & h3 {
    color: white !important;
    font-weight: bold;
    background: $secondary !important;
  }
  &-header::before {
    border-bottom-color: $secondary !important;
  }
}

.bs-popover-left > .arrow::before,
.bs-popover-left > .arrow::after {
  border-bottom-color: transparent !important;
}

.bs-popover-left {
  & .bs-popover-left,
  & .bs-popover-left {
    border-bottom-color: transparent !important;
  }
}
