.accordeon {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  &.accordeons {
    border-radius: 0px !important;
  }
}

.close-content {
  padding: 0px !important;
  height: 0px !important;
  overflow: hidden !important;
}

.open-content {
  height: auto !important;
}

.badge-secondary {
  background-color: $lightprimary !important;
  padding: 5px 10px;
  border-radius: 10px;
  color: black !important;
  margin-left: 10px;
  font-size: 13px;
}

.watch {
  cursor: pointer;
}

.watch .fa-plus {
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.watch:hover .fa-plus {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  color: $danger;
}

.description {
  overflow: hidden;
  height: 0px;
}

.opened {
  height: 100%;
}

@media all and (max-width: 767px) {
  // accordeon
  .accordeon {
    padding: 15px !important;
    &_body--title {
      margin-top: 10px !important;
      margin-bottom: 15px;
      text-align: center !important;
      font-size: 17px !important;
    }
    &_body {
      padding-bottom: 0px !important;
      &--content {
        padding: 10px 0px 10px 0px;
      }
    }
  }
  .description {
    &-content {
      margin-bottom: 10px;
    }
  }
  .badges {
    padding: 0px !important;
    margin-bottom: 15px !important;
  }
  .badge-secondary {
    margin: 0px;
  }
  // add engagements page
  .accordeons {
    & .badge {
      display: flex !important;
      margin-top: 7px;
      justify-content: flex-end !important;
    }
    & .badges {
      display: none !important;
    }
    & .accordeon_body {
      padding-top: 5px !important;
      padding-bottom: 5px !important;
    }
    & .accordeon_body--title {
      font-size: 16px !important;
      margin-bottom: 0px !important;
      margin-top: 0px !important;
      text-align: right !important;
      padding: 0px !important;
    }
    & .accordeon_body--content .row {
      flex-direction: column !important;
    }
    & .accordeon_body--content .col-md-3 {
      padding-bottom: 1.5rem;
      padding-top: 0px !important;
    }
  }
  .accordeon.accordeons {
    padding: 3px !important;
  }
}
