.header_baromaire {
  // border: 2px dashed rgba(0, 0, 0, 0.21176470588235294);
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 28px;
  background: white !important;
  border-radius: 5px;
}

.logo {
  width: 240px !important;
}

.title_baromaire {
  // font-size: 50px;
  text-transform: uppercase;
  color: #f61130;
}

.subtitle_baromaire {
  color: black;
  // font-size: 30px;
}
