// style for mobile < 576 px
// for larger screen, see inside .scss files

/*hearders and footers*/
@media all and (max-width: 576px) {
  /**
    * NOTATION
    */
  .header_baromaire {
    flex-direction: column !important;
    justify-content: center !important;
  }
  .logo-notation {
    width: 100% !important;
  }
}
